/* 링크로 넘어가게 하니까 -> 파란색으로 변하는거 지우기 
        밑줄 없애버리기 */
a {
    color: black;
    text-decoration: none;
}

a .sub-title {
    color: gray;
}



.main {
    display: flex;
    flex-direction: column;

    /* 좌우 여백이, 중앙으로, 동일하게, 가운데로 잡힘 ⭐⭐⭐ */
    margin: auto;


}


.content {
    /* 자식 태그의 내용만큼 너비를 갖게 함 📛📛📛  */
    width: max-content;

    padding: 0;
}



/* content 클래스 안에 있는 li 태그 잡기 ⭐⭐⭐⭐⭐ */
.content li{
    
    /* 왼쪽 오른쪽으로 붙여서 정렬 할 수 있음. 
        옆으로 붙여 */
    float: left;


    /* ul.li 태그를 사용하면서, 쩜이 사라짐 
        리스트 점이사, 숫자 리트트의 형식을 지정할 수 있음. */
    list-style: none;

}


/* float 제거 */
.content li:last-child {
    float: none;
}






/* ⭐⭐⭐ 자식인 애만 적용시키는 것
    따라서 들어간다. ⭐⭐⭐ 
    content 중 li 태그 에 들어있는 것만 지정해서 꾸며주는 것
    만약, .item-img 라고 쓰면 -> 모든 .item-img 에 대해 적용됨 
    
    즉, content 클래스를 가진 태그의 자식 li 태그의 자식 item -img 클래스를 가진 태그만 스타일 적용
    
    li 태그 안쪽으로 자식이면 -> 스타일이 적용된다. ⭐⭐⭐ 

        .content li div .item-img 이렇게 굳이 안 써도 된다. 
        div 까지 가져갈 거면 굳이 명시 안 해줘도 된다. ⭐⭐⭐ 
    */

    .content li .item-img { 
    width: 290px;
    height: 164px;

    border-radius: 10px;

}




/* 어떤 태그이든, item-img 클래스 가지고 있으면 적용됨 */
.item-img{ 

}

.item {
    /* 부모에게 relative */
    position: relative

    /* border: 1px solid; */

    width: 290px;
    height: 277px;

    margin-right: 20px

    
}

/* 마지막 요소 선택자 ⭐⭐ 
        제일 오른쪽에 있는 아이템 마진 없애기 */
/* .item:last-child {
    margin-right: 0;
} */


/* content 클래스 중 li 태그 중 마지막 태그 선택  */
.content li:last-child .item {
    margin-right: 0;

}



/* 첫 번째 자식 선택자 */
/* .item:first-child {

} */


.sub-tag { 
    /* 자식에게 absoulte 
            자식이 부모기준으로 이동 가능 */
    position: absolute;
    top : 145px;
    left : 10px;

    

    background-color: black;
    color: white;

    /* 처음에 안 보이게 */
    display: none;

    
    font-size: 12px;
    width: 180px;
    text-align: center;


    


}

/* 가상 선택자를 사용할 때 : 를 쓴다.   
        hover 속성 선택 
            마우스가 태그에 올려졌을 때 -> 적용되는 스타일 
            올라가면 이 스타일이 생김*/


/* item 태그에 마우스가 올라갔을 때 
    -> 자식 태그 중 sub-tag 클래스를 가지고 있는 태그가 스타일이 적용됨 */
.item:hover .sub-tag {
    /* 태그에 마우스가 올라가면 -> 글자 색깔 바뀜 */
    /* color: royalblue */

    /* 마우스 올리면 보이게 */
    display: block;

}


/* 아이콘 넣기  */
.icon { 
    position: absolute;
    bottom: 66px;
    left: 0;


    background-image: url("https://yt3.ggpht.com/KNYElmLFGAOSZoBmxYGKKXhGHrT2e7Hmz3WsBerbam5uaDXFADAmT7htj3OcC-uK1O88lC9fQg=s68-c-k-c0x00ffffff-no-rj");

    /* 개발자 도구에서 확인하고 가져오기 ⭐⭐⭐⭐⭐⭐ */
    display: block;
    width: 36px;
    height: 36px;

    /* 반복 제거 */
    background-repeat: no-repeat;

    /* 이미지 사이즈 맞추기  */
    background-size: cover;

    /* 모서리 깎기 
            50% 하면 -> 원형이 됨*/
    border-radius: 50%;


}


.title {
    /* 줄바꿈 속성을 없애준다. 
            한줄로 만들어준다. 
            필요성 : overflow hidden 이랑 같이 씀
            넓이 영역으로 넘었을 때 -> ... 처리 랑 같이  */
    white-space: nowrap;
    
    /* 부모보다, 자식 태그가 넘치면, 지운다.  */
    overflow: hidden;

    /* 텍스트가, 부모 태그의 넓이 보다, overflow 됐을 때 -> 점점점 처리 */
    text-overflow: ellipsis;


    width: 245px;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 14px;
    

}



.sub-title {
    font-size: 12px;
    color: gray;    
    margin: -10px 0px 0 50px;

}

/* 가상 선택자  */
    /* before : 가상 요소를 추가해 줄 수 있다. 
            가상 요쇼를 추가 할 때는 content 라는 속성이 있어야 함. ⭐⭐
            
            태그를 html 을 추가하지 않았는데, 가상으로 추가할 수 있음. 
            이때, before, after 를 씀
            
            before 는 내용 전 
            after 는 내용 후 */

.sub-title span::before{
    /* 이거는 개발자 도구에서 - 오른쪽 - content 로 가져오기 */
    /* 내용 전 */
    content: "•";
}

.sub-title span::after {
    /* 내용 이후 */
    content: "•";
}

